<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <app-category-product></app-category-product> <!--/category-products-->
                
                    <app-box-brands-products></app-box-brands-products><!--/brands_products-->
                    
                    <app-box-price></app-box-price><!--/price-range-->
                    
                    <div class="shipping text-center"><!--shipping-->
                        <img src="../../../assets/img/home/shipping.jpg" alt="" />
                    </div><!--/shipping-->
                
                </div>
            </div>
            
            <div class="col-sm-9 padding-right">
               <app-box-features-items></app-box-features-items><!--features_items-->
                
               <app-box-category-tab></app-box-category-tab><!--/category-tab-->
               <app-box-cart></app-box-cart>
                
                <app-box-recomen-items></app-box-recomen-items><!--/recommended_items-->
                
            </div>
        </div>
    </div>
</section>
