<section id="slider"><!--slider-->
    <div class="container" >
        <div class="row" >
            <div class="col-sm-12" >
                <div id="slider-carousel" class="carousel slide" data-ride="carousel" *ngFor='let Member of content1 let i = index' >
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>
                    
                    <div class="carousel-inner" >
                        <div class="item active" >
                            <div class="col-sm-6" >
                                <h1><span>{{Member.font}}</span>{{Member.font1}}</h1>
                                <h2>{{Member.title}}</h2>
                                <p>{{Member.description}}</p>
                                <button type="button" class="btn btn-default get">{{Member.choose}}</button>
                            </div>
                            <div class="col-sm-6" >
                                <img [src]="Member.img"  class="girl img-responsive" alt="" />
                                <img [src]="Member.img1"   class="pricing" alt="" />
                            </div>
                        </div>
                       
                    </div>
                    
                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</section><!--/slider-->